@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Gilda+Display&display=swap');

html {
    scroll-behavior: smooth;
}
  
.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-image: url(./Images/milad-fakurian-u8Jn2rzYIps-unsplash.jpg);
    background-size: cover;
}

#filled {
    height: 5px;
    width: 0%;
    background-color: #ffb000;
    position: fixed;
    z-index: 1;
}

.padding-div {
    padding: 0px 5%;
}

#navbar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tags ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.list-tag {
    padding: 0px 50px;
    font-size: 1.3em;
}

.list-tag a:hover {
    font-size: 1.2em;
    color: white;
}

.list-tag a {
    color: #d5d4ff;
    text-decoration: none;
    transition: all 0.3s;
}

.constant {
    backdrop-filter: blur(100px);
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#intro {
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#intro-text {
    width: 50%;
}

#greeting {
    font-size: 3em;
    color: #9290C3;
}

#name {
    font-size: 5em;
    color: #d5d4ff;
    padding-bottom: 20px;
    font-weight: 600;
    /* border-bottom: 1px solid #9290C3; */
}

#tagline {
    color: #d5d4ff;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 20px;
}

#socials i {
    font-size: 2.5em;
    padding-right: 20px;
    color: #9290C3;
    transition: all 0.3s;
}

#socials #linkedin:hover {
    cursor: pointer;
    color: #0092c8;
    scale: 1.1;
}

#socials #twitter:hover {
    cursor: pointer;
    color: white;
    scale: 1.1;
}

#socials #github:hover {
    cursor: pointer;
    color: #ffb000;
    scale: 1.1;
}

/* #resume-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 10%;
} */

/* #resume-section p{
    color: #d5d4ff;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 30px;
}

 */

.description {
    margin-left: 70px;
}
.num {
    font-size: 7em;
    -webkit-text-stroke: #9290C3 1px;
    color: transparent;
}

.name {
    font-size: 5em;
    color: #d5d4ff;
    border-top: 1px solid #9290C3;
}

.logo {
    width: 50px;
    margin: 0px 10px;
    background-color: white;
    padding: 5px 5px;
    border-radius: 15px;
}

.category {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.category span {
    color: #d5d4ff;
}

.about-p, .description p {
    color: #d5d4ff;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 1.1em;
}




