* {
    margin: 0;
}

.padding-div {
    padding: 0px 5%;
}
#navbar {
    height: 70px;
    background-color: #070F2B;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-container, #logo {
    height: 90%;
}

#tags ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.list-tag {
    margin: 0px 20px;
    font-size: 1.3em;
}

.list-tag a {
    color: #d5d4ff;
    text-decoration: none;
}


